streamlit
crewai
crewai-tools
litellm
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
chromadb
pysqlite3-binary
groq
pypdf
python-docx
python-dotenv
reportlab
sentence-transformers
pydantic
